.ui.inverted.menu > .small.item {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8em;
}

.header-hamburger-trigger {

    display: inline-block;

    border: none;
    background: rgba(221, 221, 221, 0.15) !important;
    cursor: pointer;
    padding: 0 0 4px 0; //4px to vertically align the trigger lines. display flex was not working on all browsers.
    text-align: center;
    white-space: nowrap;

    &:focus {
        outline-offset: -5px; //So that the outline styles aren't hidden because of the browser
    }

    color: clr-getTextColor($gray-darkest, lightest);
    opacity: 0.65;

    &:hover {
        opacity: 1;
    }

    & > span,
    & > span::before,
    & > span::after {
        display: inline-block;
        height: 2px;
        width: $clr_baselineRem_1;
        background: $clr-white;
        border-radius: 3px;
    }

    & > span {
        position: relative;
        vertical-align: middle;

        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
        }

        &::before {
            top: -7px;
        }

        &::after {
            bottom: -7px;
        }
    }
}