<app-sidebar [(isOpen)]="sidebarOpen" (navigate)="go($event)" [favoriteRacers]="favoriteRacers$ | async"></app-sidebar>

<app-menu [raceInfo]="raceInfo$ | async" (openSidebar)="showSidebar()" (refresh)="onRefresh()" (tab)="configureTabs($event)"></app-menu>

<div class="ui stackable equal width grid">
    <div class="datagrid-spinner" *ngIf="loading$ | async">
        <div class="spinner">Loading...</div>
    </div>
    <div *ngFor="let columns of rows; let row = index" class="row">
        <app-tab *ngFor="let i of columns" class="column" [breakpoint]="breakpoints[row]"></app-tab>
    </div>
</div>

<div (click)="sidebarOpen = false" class="backdrop" [class.open]="sidebarOpen"></div>