<div [@animate]="isOpen ? 'visible' : 'hidden'" class="sidebar">

    <div style="padding: 5px;">
            <input style="font-size: 11px;" (keyup.enter)="go(codex.value)" #codex placeholder="Enter codex..." type="text">
            <button (click)="go(codex.value)" class="btn btn-sm btn-primary">Go</button>
        <button type="button" class="close" aria-label="Close" (click)="close()">
            <clr-icon shape="times" size="32"></clr-icon>
        </button>
    </div>

    <ul class="nav" role="tablist">
        <li role="presentation" class="nav-item">
            <button (click)="tab = 'live'" [class.active]="tab === 'live'" class="btn btn-link nav-link" type="button">
                Live
            </button>
        </li>
        <li role="presentation" class="nav-item">
            <button (click)="tab = 'more'" [class.active]="tab === 'more'" class="btn btn-link nav-link" type="button">
                More
            </button>
        </li>
        <li role="presentation" class="nav-item">
            <button (click)="tab = 'settings'" [class.active]="tab === 'settings'" class="btn btn-link nav-link"
                    type="button">
                Settings
            </button>
        </li>
    </ul>


    <ng-container *ngIf="tab === 'live'">
        <nav class="sidenav">
            <section class="sidenav-content">
                <section *ngFor="let races of upcomingRaces$ | async" class="nav-group collapsible">
                    <input [checked]="!races.date.startsWith('Today')" [attr.id]="'races' + races.date" type="checkbox">
                    <label [attr.for]="'races' + races.date">{{ races.date }}<span *ngIf="races.liveCount > 0" class="badge badge-success">{{ races.liveCount }}</span></label>
                    <ul class="nav-list">
                        <ng-template ngFor let-place [ngForOf]="races.places">
                            <li class="place">{{ place.place }}</li>
                            <li *ngFor="let race of place.races" >
                                <a (click)="close()" [routerLink]="['', race.codex]" routerLinkActive="active" class="nav-link">{{ race.discipline }}
                                    <span class="nav-link-tag">{{ race.category }}&nbsp;{{ race.gender }}</span>
                                    <span [class.label-info]="race.status == 'Results'" [class.label-success]="race.status == 'Live'" class="label">{{ race.status ? race.status : race.time }}</span>
                                </a>
                            </li>
                        </ng-template>
                    </ul>
                </section>
            </section>
        </nav>
    </ng-container>

    <ng-container *ngIf="tab === 'more'">
        <div style="padding: 10px;">
        </div>
    </ng-container>

    <ng-container *ngIf="tab === 'settings'">
        <div style="padding: 10px;">
            <label for="delay">Delay</label>
            <span style="float: right;">ms</span>
            <input type="number" id="delay" [ngModel]="delay$ | async" (ngModelChange)="setDelay($event)" placeholder="Enter value here" style="float: right; width: 100px;">

            <div class="list">
                <div *ngFor="let event of events$ | async" class="item">
                    <div style="flex: 1">
                        <div style="line-height: 20px; font-weight: bold;">C. Kalla</div>
                        <div style="line-height: 16px; font-size: 10px;">13.7 KM -4.8s (1)</div>
                    </div>
                    <div>
                        <button type="button" class="btn btn-sm btn-link" aria-label="Sync" (click)="sync(event.timestamp)">
                            Sync
                        </button>
                    </div>
                </div>
            </div>

            <!--div class="ui divided list">
                <div *ngFor="let racer of favoriteRacers" class="item">
                    <div class="right floated content">
                        <button type="button" class="close" aria-label="Close" (click)="toggleFavorite(racer)">
                            <clr-icon shape="trash" size="24"></clr-icon>
                        </button>
                    </div>
                    <div class="header">{{ racer.firstName }} {{ racer.lastName }}</div>
                    {{ FLAGS[racer.nationality] || racer.nationality }}
                </div>
            </div-->
        </div>
    </ng-container>


</div>
