<table class="datagrid {{ breakpoint }}" role="grid">
    <thead>
        <tr role="row">
            <th>
                <div appSort="rank">{{ config.isStartList ? 'Order' : 'Rank' }}</div>
            </th>

            <th *ngIf="columns.bib">
                <div appSort="bib">Bib</div>
            </th>

            <th class="filterable">
                <div appSort="name.value">Name</div>
                <app-filter></app-filter>
            </th>

            <th>
                <div appSort="time.value">{{ config.isStartList ? 'Status' : 'Time' }}</div>
            </th>

            <th *ngIf="columns.nationality">
                <div appSort="nationality">Nationality</div>
            </th>

            <th *ngIf="columns.diff">
                <div appSort="diff">Diff.</div>
            </th>
        </tr>
    </thead>
    <tbody>

            <tr [@newRow]="row.state"
                [ngClass]="row.classes"
                *ngFor="let row of config.rows; trackBy: track"
                role="row">
                <td><div>{{ row.rank }}</div></td>
                <td class="bib" *ngIf="columns.bib"><div><span class="badge">{{ row.bib }}</span></div></td>
                <td>
                    <div class="small_only flag">
                        <a style="color: inherit" target="_blank" href="https://data.fis-ski.com/dynamic/athlete-biography.html?sector=CC&listid=&fiscode={{ row.id }}&type=result">
                            {{ row.name.display }}
                        </a>
                    </div>
                </td>
                <td class="time"><div>{{ row.time.display }}</div></td>
                <td *ngIf="columns.nationality"><div class="flag">{{ row.nationality }}</div></td>
                <td *ngIf="columns.diff"><div>{{ row.diff }}</div></td>
            </tr>

    </tbody>
</table>
