<!--<table class="datagrid {{ breakpoint }}" role="grid">-->
    <!--<thead>-->
        <!--<tr role="row">-->
            <!--<th>-->
                <!--<div appSort="rank">{{ config.isStartList ? 'Order' : 'Rank' }}</div>-->
            <!--</th>-->

            <!--<th *ngIf="columns.bib">-->
                <!--<div appSort="bib">Bib</div>-->
            <!--</th>-->

            <!--<th class="filterable">-->
                <!--<div appSort="name.value">Name</div>-->
                <!--<app-filter></app-filter>-->
            <!--</th>-->

            <!--<th>-->
                <!--<div appSort="time.value">{{ config.isStartList ? 'Status' : 'Time' }}</div>-->
            <!--</th>-->

            <!--<th *ngIf="columns.nationality">-->
                <!--<div appSort="nationality">Nationality</div>-->
            <!--</th>-->

            <!--<th *ngIf="columns.diff">-->
                <!--<div appSort="diff.value">Diff.</div>-->
            <!--</th>-->
        <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->

            <!--<tr [@newRow]="row.state"-->
                <!--[ngClass]="row.classes"-->
                <!--*ngFor="let row of config.rows; trackBy: track"-->
                <!--role="row">-->
                <!--<td><div>{{ row.rank || '&nbsp;' }}</div></td>-->
                <!--<td class="bib" *ngIf="columns.bib"><div><span class="badge">{{ row.bib }}</span></div></td>-->
                <!--<td>-->
                    <!--<div class="small_only flag">-->
                        <!--<a style="color: inherit" target="_blank" href="https://data.fis-ski.com/dynamic/athlete-biography.html?sector=CC&listid=&fiscode={{ row.id }}&type=result">-->
                            <!--{{ row.name.display }}-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</td>-->
                <!--<td class="time"><div>{{ row.time.display }}</div></td>-->
                <!--<td *ngIf="columns.nationality"><div class="flag">{{ row.nationality }}</div></td>-->
                <!--<td *ngIf="columns.diff"><div>{{ row.diff.display || '&nbsp;' }}</div></td>-->
            <!--</tr>-->

    <!--</tbody>-->
<!--</table>-->

<table class="datagrid {{ config.breakpoint }}" cdk-table [dataSource]="dataSource.connect() | async" [trackBy]="track">

    <!-- Order Definition -->
    <ng-container cdkColumnDef="order">
        <th cdk-header-cell *cdkHeaderCellDef>
            <div>#</div>
        </th>
        <td cdk-cell *cdkCellDef="let row; let i = index;"><div>{{ i + 1 }}</div></td>
    </ng-container>

    <!-- Rank Definition -->
    <ng-container cdkColumnDef="rank">
        <th cdk-header-cell *cdkHeaderCellDef>
            <div appSort="rank">{{ config.isStartList ? 'Order' : 'Rank' }}</div>
        </th>
        <td cdk-cell *cdkCellDef="let row"><div>{{ row.rank || '&nbsp;' }}</div></td>
    </ng-container>

    <!-- Bib Definition -->
    <ng-container cdkColumnDef="bib">
        <th cdk-header-cell *cdkHeaderCellDef>
            <div appSort="bib">Bib</div>
        </th>
        <td class="bib" cdk-cell *cdkCellDef="let row"><div><span class="badge">{{ row.bib }}</span></div></td>
    </ng-container>

    <!-- Name Definition -->
    <ng-container cdkColumnDef="name">
        <th class="filterable" cdk-header-cell *cdkHeaderCellDef>
            <div appSort="name.value">Name</div>
            <app-filter></app-filter>
        </th>
        <td cdk-cell *cdkCellDef="let row">
            <div class="small_only flag">
                <a style="color: inherit" target="_blank" href="https://www.fis-ski.com/DB/general/athlete-biography.html?sectorcode=CC&fiscode={{ row.id }}">
                    {{ row.name.display }}
                </a>
            </div>
        </td>
    </ng-container>

    <!-- Time Definition -->
    <ng-container cdkColumnDef="time">
        <th cdk-header-cell *cdkHeaderCellDef>
            <div appSort="time.value">{{ config.isStartList ? 'Status' : 'Time' }}</div>
        </th>
        <td class="time" cdk-cell *cdkCellDef="let row"><div>{{ row.time.display }}</div></td>
    </ng-container>

    <!-- Nsa Definition -->
    <ng-container cdkColumnDef="nsa">
        <th cdk-header-cell *cdkHeaderCellDef>
            <div appSort="nationality">Nationality</div>
        </th>
        <td cdk-cell *cdkCellDef="let row"><div class="flag">{{ row.nationality }}</div></td>
    </ng-container>

    <!-- Diff Definition -->
    <ng-container cdkColumnDef="diff">
        <th cdk-header-cell *cdkHeaderCellDef>
            <div appSort="diff.value">Diff.</div>
        </th>
        <td cdk-cell *cdkCellDef="let row"><div>{{ row.diff.display || '&nbsp;' }}</div></td>
    </ng-container>


    <!-- Dynamic definitions -->
    <ng-container [cdkColumnDef]="col.id" *ngFor="let col of intermediates$ | async">
        <th cdk-header-cell *cdkHeaderCellDef><div [appSort]="col.sortBy">{{ col.name }}</div></th>
        <td class="time" cdk-cell *cdkCellDef="let row"><div>{{ row.marks[col.key].display }}</div> </td>
    </ng-container>

    <thead>
        <tr cdk-header-row *cdkHeaderRowDef="config.displayedColumns"></tr>
    </thead>

    <tbody>
        <tr
                (@newRow.done)="onAnimationEvent($event, row)" [@newRow]="row.state" [ngClass]="row.classes" cdk-row *cdkRowDef="let row; columns: config.displayedColumns"></tr>
    </tbody>

</table>
