<header>
    <div class="branding" (click)="openSidebar.emit()">
        <button class="header-hamburger-trigger" type="button">
            <span></span>
        </button>
    </div>

    @if (raceInfo(); as raceInfo) {
        <div class="header-nav">
            <span>
                <span class="event-name">{{ raceInfo.info.eventName }}</span><br>
                <span class="race-name">{{ raceInfo.info.raceName }}{{ raceInfo.info.place != '' ? ', ' + raceInfo.info.place : '' }}</span>
            </span>
            <span class="message">{{ raceInfo.message | uppercase }}</span>
        </div>
    }

    <div class="header-actions">
        <a (click)="refresh.emit()" class="nav-link nav-icon">
            <clr-icon shape="refresh"></clr-icon>
        </a>
        <a (click)="mode.set(!mode())" class="nav-link nav-icon no-mobile" [class.active]="mode()">
            <clr-icon shape="view-columns"></clr-icon>
        </a>
        <a (click)="tab.emit('remove')" class="nav-link nav-icon no-mobile">
            <clr-icon shape="minus"></clr-icon>
        </a>
        <a (click)="tab.emit('add')"  class="nav-link nav-icon no-mobile">
            <clr-icon shape="plus"></clr-icon>
        </a>
    </div>
</header>
