<button class="dropdown-toggle btn" (click)="toggle()" type="button">
    @if (render | ngrxPush; as selected) {
        <ng-container [ngTemplateOutlet]="template" [ngTemplateOutletContext]="{$implicit: selected}"></ng-container>
    } @else {
        <ng-content></ng-content>
    }

    <clr-icon shape="caret" dir="down"></clr-icon>
</button>

@if (open) {
    <div class="dropdown-menu" [@animate]>
        @for (option of options | ngrxPush; track option) {
            <button (click)="select(option)" [class.disabled]="option.disabled" [class.active]="option.selected"
                    class="dropdown-item">
                <ng-container [ngTemplateOutlet]="template" [ngTemplateOutletContext]="{$implicit: option.value}"></ng-container>
            </button>
        }
    </div>
}
