@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/normalize";

@import "~clarity-ui/src/utils/vendor/decimalRounding.clarity";
@import "~clarity-ui/src/utils/vendor/mathPow.clarity";

@import "~clarity-ui/src/utils/mixins.clarity";
@import "~clarity-ui/src/utils/helpers.clarity";

//Color
@import "~clarity-ui/src/color/utils/colors.clarity";
@import "~clarity-ui/src/color/utils/contrast-cache.clarity";
@import "~clarity-ui/src/color/utils/helpers.clarity";
@import "~clarity-ui/src/color/color.clarity"; // depends on colors.clarity, helper.clarity, contrast-cache.clarity

//Layer - z-indices
@import "~clarity-ui/src/utils/layers.clarity";

//Variables
@import "~clarity-ui/src/utils/variables.clarity"; // depends on helpers.clarity, color.clarity

@import "~bootstrap/scss/close";

@import "~clarity-ui/src/forms/utils/form-variables.clarity";
@import "~clarity-ui/src/forms/utils/mixins.clarity";

@import "~clarity-ui/src/typography/typography.clarity";


@import "~clarity-ui/src/labels/labels.clarity";
@import "~clarity-ui/src/spinners/spinner.clarity";
@import "~clarity-ui/src/buttons/buttons.clarity";
@import "~clarity-ui/src/nav/nav.clarity";
@import "~clarity-ui/src/images/icons.clarity";
@import "~clarity-ui/src/images/images.clarity";
@import "~clarity-ui/src/close/close.clarity";
@import "~clarity-ui/src/alert/alert.clarity";
@import "~clarity-ui/src/nav/sidenav.clarity";
@import "~clarity-ui/src/tabs/tabs.clarity";
@import "~clarity-ui/src/forms/select.clarity";
@import "~clarity-ui/src/forms/inputs.clarity";

@import "styles/dropdown";
@import "styles/grid";
@import "styles/table";
@import "styles/menu";
@import "styles/sidebar";

.alert.alert-app-level {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.spinner-centered {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.search-input {
    position: relative;
    input {
        padding-right: 22px;
    }

    &::after {
        background-image: generateSearchIcon("#999999");
        height: 16px;
        width: 16px;
        top: 4px;
        right: 3px;
        @include icon-background-styles();
        margin: 0;
        position: absolute;
        content: '';
    }
}

.sidenav .nav-group label {
    font-weight: 700;
}

.label, a.label {
    letter-spacing: normal;
}
