@import "~semantic-ui-css/components/reset.min.css";
@import "~semantic-ui-css/components/container.min.css";
@import "~semantic-ui-css/components/grid.min.css";
@import "~semantic-ui-css/components/button.min.css";
@import "~semantic-ui-css/components/menu.min.css";
@import "~semantic-ui-css/components/dropdown.min.css";
@import "~semantic-ui-css/components/table.min.css";
@import "~semantic-ui-css/components/sidebar.min.css";
@import "~semantic-ui-css/components/segment.min.css";
@import "~semantic-ui-css/components/flag.min.css";
@import "~semantic-ui-css/components/input.min.css";

@import "~perfect-scrollbar/dist/css/perfect-scrollbar.min.css";

@import "~clarity-icons/clarity-icons.min.css";

@import "~clarity-ui/src/labels/labels.clarity";
@import "~clarity-ui/src/spinners/spinner.clarity";
@import "~clarity-ui/src/buttons/buttons.clarity";
@import "~clarity-ui/src/nav/nav.clarity";
@import "~clarity-ui/src/images/images.clarity";
@import "~clarity-ui/src/close/close.clarity";
@import "~clarity-ui/src/alert/alert.clarity";
@import "~clarity-ui/src/nav/sidenav.clarity";
@import "~clarity-ui/src/tabs/tabs.clarity";

@import "css/site.css";
@import "css/dropdown.css";
@import "css/grid.css";
@import "css/table";


.nav-link-tag {
    color: #313131;
    display: inline-block;
    padding-left: 8px;
    font-size: 10px;
    font-weight: 400;
    vertical-align: top;
    letter-spacing: .02em;
}

.backdrop.open {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.85);
    cursor: pointer;
    z-index: 1038;
}

.ui.inverted.menu > .small.item {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8em;
}

.alert.alert-app-level {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.spinner-centered {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

button.nav-link {
    min-width: 72px;
}

