@import "~semantic-ui-css/components/reset.min.css";
@import "~semantic-ui-css/components/container.min.css";
@import "~semantic-ui-css/components/grid.min.css";
@import "~semantic-ui-css/components/button.min.css";
@import "~semantic-ui-css/components/menu.min.css";
@import "~semantic-ui-css/components/dropdown.min.css";
//@import "~semantic-ui-css/components/table.min.css";
//@import "~semantic-ui-css/components/sidebar.min.css";
@import "~semantic-ui-css/components/segment.min.css";
@import "~semantic-ui-css/components/flag.min.css";
@import "~semantic-ui-css/components/input.min.css";

@import "~perfect-scrollbar/dist/css/perfect-scrollbar.min.css";

@import "~clarity-icons/clarity-icons.min.css";

@import "~clarity-ui/src/labels/labels.clarity";
@import "~clarity-ui/src/spinners/spinner.clarity";
@import "~clarity-ui/src/buttons/buttons.clarity";
@import "~clarity-ui/src/nav/nav.clarity";
@import "~clarity-ui/src/images/images.clarity";
@import "~clarity-ui/src/close/close.clarity";
@import "~clarity-ui/src/alert/alert.clarity";
@import "~clarity-ui/src/nav/sidenav.clarity";
@import "~clarity-ui/src/tabs/tabs.clarity";

@import "~semantic-ui-css/components/site.css";
@import "css/dropdown.css";
@import "css/grid.css";
@import "css/table";
@import "css/menu";
@import "css/sidebar";

.alert.alert-app-level {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.spinner-centered {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.ui.icon.input > i.search::before {
    background-image: generateSearchIcon("#999999");
    @include icon-background-styles();
    left: 20%;
    position: absolute;
    text-align: center;
    top: 20%;
    width: 60%;
    height: 60%;
    content: '';
    margin: 0;
}
