.dropdown-menu {
    visibility: visible;
    transform-origin: top center;
}

.btn-group {
    display: inline-flex;
    margin-right: 0.5rem;

    app-dropdown, app-select {
        margin: 0;

        &:not(:first-child) .btn {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        &:not(:last-child) {
            margin: 0 1px 0 0;

            .btn {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }
}
