.dropdown-menu {
    visibility: visible;
    transform-origin: top center;
}

.btn-group {
    //display: inline-flex;

    app-dropdown, app-select {



        &:not(:first-child) .btn {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        &:not(:last-child) {
            margin-right: 1px;

            .btn {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }
}
