.ui.attached.dropdown {
    text-align: center;
}

.action-bar app-dropdown {
    flex: 1 0 auto;
    border-radius: 0;
    margin: 0;
}

.action-bar app-dropdown > .button {
    width: 100%;
    border-radius: 0 4px 0 0;
}

.action-bar app-dropdown:first-child > .button {
    border-radius: 4px 0 0 0 !important;
}

.ui.dropdown > .menu {
    transform-origin: top center;
}

.ui.dropdown > .visible {
    display: block !important;
    visibility: visible !important;
}