html, body {
    height: 100%;
    background-color: #FAFAFA;
}

// Backgrounds
$clr-table-bgcolor: $clr-white !default;
$clr-thead-bgcolor: $clr-near-white !default;

// Borders
$clr-tablerow-bordercolor: $clr-light-gray !default;
$clr-table-bordercolor: $clr-light-midtone-gray !default;
$clr-table-borderwidth: $clr-default-borderwidth !default;
$clr-table-borderstyle: $clr-table-borderwidth solid $clr-table-bordercolor !default;

// Etc.
$clr-table-fontsize: clr-getTypePropertyValueForDomElement(table_text, font-size);
$clr-table-lineheight: 0.583333rem !default;
$clr-table-cellpadding: 0.5rem !default;
$clr-table-smallpadding: 0.25rem !default;

$clr-table-lineheightPaddingShim: (1rem - $clr-table-lineheight)/2 !default;
$clr-table-topcellpadding: $clr-table-cellpadding - $clr-rem-1px !default;
$clr-table-bottomcellpadding: $clr-table-cellpadding - $clr-rem-1px !default;

// Border radius of corner cells needs to be slightly less than the table's,
// To make sure they correctly cover the whole area up to the border.
$clr-table-cornercellradius: calc(#{$clr-default-borderradius} - 1px) !default;

// Mixin for basic table styles to be able to reuse them on non-table elements.
@mixin basic-table($table, $thead, $tbody, $tr, $th, $td) {
    #{$table} {
        border-collapse: separate;
        border: $clr-table-borderstyle;
        border-radius: $clr-default-borderradius;

        background-color: $clr-table-bgcolor;
        color: clr-getTextColor($clr-table-bgcolor, text);
        margin: 0;
        margin-top: 1rem;
        max-width: 100%;
        width: 100%;

        #{$th},
        #{$td} {
            font-size: $clr-table-fontsize;
            line-height: $clr-table-lineheight;

            border-top: $clr-table-borderwidth solid $clr-tablerow-bordercolor;
            padding: $clr-table-topcellpadding $clr-table-cellpadding $clr-table-bottomcellpadding;
            text-align: center;
            vertical-align: top;

            &.left {
                text-align: left;

                &:first-child {
                    padding-left: $clr-table-smallpadding;
                }
            }
        }

        #{$th} {
            @include clr-getTypePropertiesForDomElement(table_header, (color, font-size, font-weight, letter-spacing));

            background-color: $clr-thead-bgcolor;
            vertical-align: bottom;
            border-bottom: $clr-table-borderstyle;
            border-top: 0 none;
        }

        #{$tbody} #{$tr}:first-child #{$td} {
            border-top: 0 none;
        }

        // in the rare event we have more than one tbody element.
        #{$tbody} + #{$tbody} {
            border-top: $clr-table-borderstyle;
        }

        // Rounded corners on tables are a pain...
        #{$thead} #{$th} {
            &:first-child {
                border-radius: $clr-table-cornercellradius 0 0 0;
            }

            &:last-child {
                border-radius: 0 $clr-table-cornercellradius 0 0;
            }
        }

        #{$tbody}:last-child {
            #{$tr}:last-child {
                #{$td} {
                    &:first-child {
                        border-radius: 0 0 0 $clr-table-cornercellradius;
                    }

                    &:last-child {
                        border-radius: 0 0 $clr-table-cornercellradius 0;
                    }
                }
            }
        }
    }
}


.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: $clr-header-height;
}

.row {
    flex: 1 0 0;
    display: flex;
    flex-direction: row;
}

.column {
    flex: 1 0 0;
    margin: 5px;

    display: flex;
    flex-direction: column;
}

.segment {
    flex: 1 0 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    line-height: 16px;
    background-color: #FFFFFF;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid rgba(34, 36, 38, 0.15);
    position: relative;
}

.action-bar {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: stretch;
    height: 1.5rem;
    padding: 0 $clr-table-cellpadding;
    // Account for borders
    line-height: calc(1.5rem - #{3 * $clr-default-borderwidth});
    font-size: clr-getTypePropertyValueForDomElement(table_header, font-size);
    background-color: $clr-thead-bgcolor;
    border: 1px solid rgba(34, 36, 38, 0.15);
    border-radius: $clr-default-borderradius $clr-default-borderradius 0 0;

    .pagination {
        margin-left: 1.5rem;
        height: calc(1.5rem - #{2 * $clr-default-borderwidth});
    }

    .column-switch-wrapper {
        // Has a possible sibling in the .datagrid-foot-select.checkbox container
        flex: 0 0 1rem;
        position: relative;

        .column-toggle--action {

            // I'm overriding .btn/.btn-link here but am not confident this is the correct way to do it.
            min-width: 0.75rem;
            padding-left: 0;
            padding-right: 0;

            clr-icon {
                color: $clr-dark-midtone-gray;
                &:hover {
                    color: $clr-action-blue;
                }

                &--active, .active {
                    color: $clr-action-blue;
                }
            }
        }

        .column-switch {
            border-radius: $clr-default-borderradius;
            padding: 0.75rem;
            background-color: $clr-white;
            border: $clr-default-borderwidth solid $clr-light-midtone-gray;
            box-shadow: 0 1px 3px rgba(116, 116, 116, 0.25);
            width: 10.416667rem;
            display: flex;
            flex-direction: column;
            position: absolute;
            right: 0;
            margin-top: 5px;
            z-index: map-get($clr-layers, dropdown-menu);


            .switch-header {
                display: flex;
                justify-content: space-between;
                font-weight: clr-getTypePropertyValueForDomElement(datagrid_column_toggle_title, font-weight);
                font-size: clr-getTypePropertyValueForDomElement(datagrid_column_toggle_title, font-size);
                padding-bottom: 0.5rem;
                line-height: 1rem;

                button {
                    min-width: 0.75rem;
                    margin: 0;
                    padding: 0;
                    color: $clr-dark-midtone-gray;

                    &:hover {
                        color: $clr-action-blue;
                    }
                }
            }

            .switch-content {
                max-height: 12.5rem;
                overflow-y: auto;
                min-height: calc(1rem + #{$clr-default-borderwidth}); // prevents scrollbars in IE.

                li {
                    line-height: 1rem;
                    padding-left: 2 * $clr-rem-1px; // Hack that doesn't fix issue #539. TODO: Fix issue #539.
                }
            }

            .switch-footer {
                .btn {
                    margin: 0;
                    padding: 0;
                }

                .action-right {
                    display: flex;
                    justify-content: flex-end
                }
            }
        }
    }
}

