.ui.inverted.menu > .small.item {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8em;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 101;

    > .header-nav {
        line-height: $clr-header-height;
    }
}

header > .branding {
    padding: 0;
    min-width: 0;
}

.header-hamburger-trigger {
    $trigger-span-psuedo-positioning: -0.291667rem;

    & > span,
    & > span::before,
    & > span::after {
        display: inline-block;
        height: 0.0833333rem;
        width: 1rem;
        background: $clr-white;
        border-radius: 0.125rem;
    }

    & > span {
        position: relative;
        vertical-align: middle;

        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
        }

        &::before {
            top: $trigger-span-psuedo-positioning;
        }

        &::after {
            bottom: $trigger-span-psuedo-positioning;
        }
    }


    display: inline-block;

    border: none;
    background: none;
    cursor: pointer;
    font-size: 1rem;
    height: $clr-header-height;
    //width: $clr-header-height;
    padding: 0 0.666667rem 0.166667rem 0.666667rem;
    //4px to vertically align the trigger lines. display flex was not working on all browsers.
    text-align: center;
    white-space: nowrap;

    background: rgba(221, 221, 221, 0.15) !important;

    &:focus {
        outline-offset: -0.208333rem; //So that the outline styles aren't hidden because of the browser
    }

    @include header-nav-appearance();

}
