header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 101;
    background-color: #004a70;

    > .branding {
        padding: 0;
        min-width: 0;
        line-height: $clr-header-height;
    }

    > .header-nav {
        line-height: $clr-header-height;
        flex: 1 1 auto;
        overflow: hidden;
        span {
            padding: 0 0.66667rem;
            text-overflow: ellipsis;
            overflow: hidden;

            &.fitted {
                padding: 0;
                color: hsla(0,0%,100%,.5);
                font-size: .8em;
                flex-shrink: 0;
            }

            &.message {
                flex-grow: 1;
                text-align: right;
            }
        }
    }

    > .header-actions {
        flex: 0 0 auto;

        > .nav-link {
            padding: 0;
        }

        a {
            &::before {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                height: 100%;
                width: 1px;
                background: hsla(0,0%,100%,.08);;
            }

            &:hover {
                opacity: 1;
            }
            cursor: pointer;
            background-color: rgba(221, 221, 221, 0.15);
        }
    }
}

.header-hamburger-trigger {
    $trigger-span-psuedo-positioning: -0.291667rem;

    &::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        height: 100%;
        width: 1px;
        background: hsla(0,0%,100%,.08);;
    }

    & > span,
    & > span::before,
    & > span::after {
        display: inline-block;
        height: 0.0833333rem;
        width: 1rem;
        background: $clr-white;
        border-radius: 0.125rem;
    }

    & > span {
        position: relative;
        vertical-align: middle;

        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
        }

        &::before {
            top: $trigger-span-psuedo-positioning;
        }

        &::after {
            bottom: $trigger-span-psuedo-positioning;
        }
    }


    display: inline-block;

    border: none;
    background: none;
    cursor: pointer;
    font-size: 1rem;
    height: $clr-header-height;
    //width: $clr-header-height;
    padding: 0 0.666667rem 0.166667rem 0.666667rem;
    //4px to vertically align the trigger lines. display flex was not working on all browsers.
    text-align: center;
    white-space: nowrap;
    position: relative;

    background: rgba(221, 221, 221, 0.15) !important;

    &:focus {
        outline-offset: -0.208333rem; //So that the outline styles aren't hidden because of the browser
    }

    @include header-nav-appearance();

}

@media only screen and (max-width : 360px) {
    .no-mobile {
        display: none !important;
    }
}
