.alert.alert-app-level {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;

    .close:focus {
        box-shadow: none;
    }
}

.spinner-centered {
    position: absolute;
    top: calc(50% - 1.5rem);
    left: calc(50% - 1.5rem);
}

.label, a.label {
    letter-spacing: normal;
}
