.alert.alert-app-level {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 105;

    .close:focus {
        box-shadow: none;
    }
}

.alert-app-level .alert-item > span, .alert-app-level .alert-text {
    flex: 0 1 auto;
}

.spinner-centered {
    position: absolute;
    top: calc(50% - 1.5rem);
    left: calc(50% - 1.5rem);
}

.label, a.label {
    letter-spacing: normal;
}
