.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    -webkit-overflow-scrolling: touch;
    height: 100% !important;
    max-height: 100%;
    max-width: 100%;
    border-radius: 0 !important;
    margin: 0 !important;
    overflow-y: auto !important;
    z-index: 1039;
    background-color: $clr-wizard-sidenav-bgcolor;
}

.sidenav {
    border:none;
    width: 100%;
    max-width: none;

    .place {
        padding-left: 6px;
        background: $clr-badge-light-blue-bg-color;
    }

    .badge {
        float: right;
        margin-top: 4.5px;
    }

    .label {
        float: right;
        height: 16px;
        padding-bottom: 0;
    }

    .nav-group label {
        font-weight: 700;
    }
}

.list {
    > .item {
        display: flex;
        padding-bottom: 5px;
        margin-top: 5px;
        &:not(:last-child) {
            border-bottom: 1px solid #CCC;
        }
    }
}

.nav-link-tag {
    color: #0094d2;
    display: inline-block;
    padding-left: 8px;
    font-size: 9px;
    font-weight: 400;
    vertical-align: top;
}

.backdrop.open {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.85);
    cursor: pointer;
    z-index: 1038;
}

ul.nav {
    padding-left: 1.66667rem;
}

button.nav-link {
    min-width: 72px;
}
