table {
    border-collapse: collapse;
    border-spacing: 0;
}

.datagrid {
    font-size: 0.9em;
    width: 100%;
    background: $app-table-bgcolor;
    border: none;
    margin: 0;
    text-align: left;
    color: $clr-h6-color;

    tr:nth-child(2n) {
        background-color: $app-thead-bgcolor;
    }

    td {
        border: none;
        padding: 0;

        > div {
            box-sizing: border-box;
            overflow: hidden;
            padding: 0 8px;
        }
    }

    th {
        padding: 0;
        border: none;
        color: $clr-h5-color;
        font-size: 0.9em;
        position: relative;
        white-space: nowrap;
        //background: $app-thead-bgcolor;

        background: #fafafa;

        transition: background .3s ease;

        &:hover {
            background: #f2f2f2;
        }

        > div {
            box-sizing: border-box;
            border-bottom: 2px solid $app-table-bordercolor;
            padding: 0 4px 0 8px;
            font-weight: 500;

            color: rgba(0,0,0,.85);
            text-align: left;

            background-clip: border-box;
            border-bottom: 1px solid #e8e8e8;

            transition: background .3s ease;
            &:hover {
                background: rgba(0,0,0,0.04);
            }
        }

        &:not(:last-child)::before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 1px;
            width: 1px;
            margin: 6px 0;
            background-color: $app-table-bordercolor;
            content: "";
        }
    }

    .badge {
        margin-top: -2px;
    }

    tr.last_finish > td {
        background-color: #FFE5BC;
    }

    tr.favorite > td {
        background-color: #D8E1FF;
    }

    tr.new > td {
        background-color: #FFE5BC;
    }

    tr.normal > td {
        transition: background-color 2s ease;
    }

    tr.leader .time {
        font-weight: 700;
    }

    tr.red .bib .badge {
        background: $clr-red-dark-midtone;
        font-weight: 700;
    }

    tr.yellow .bib .badge {
        background: $clr-yellow;
        color: $clr-black;
        font-weight: 700;
    }

    tr.turquoise .bib .badge {
        background: #40e0d0;
        color: $clr-black;
        font-weight: 700;
    }


    tr.disabled {
        opacity: 0.7;
    }

    th.filterable {
        display: flex;
        > div {
            flex: 1 0 auto;
        }

        > app-filter {
            display: flex;

            height: 100%;
            color: #bfbfbf;
            font-size: 12px;
            text-align: center;
            cursor: pointer;
            transition: all .3s;
            border-bottom: 1px solid #e8e8e8;
            width: 24px;

            &:hover {
                background: rgba(0,0,0,0.04);
            }

            //.filter-toggle {
            //    width: 16px;
            //    height: 16px;
            //    background-size: contain;
            //    cursor: pointer;
            //    vertical-align: middle;
            //    margin: auto 0;
            //    background: generateFilterIcon($clr-dark-midtone-gray) no-repeat;
            //
            //    &:hover, &.filter-open {
            //        background-image: generateFilterIcon($clr-action-blue-dark-midtone);
            //    }
            //
            //    &.filtered {
            //        background-image: generateFilterIcon($clr-action-blue-dark-midtone),
            //        generateCircleIcon($clr-action-blue-dark-midtone);
            //    }
            //}

            .datagrid-filter-toggle {
                @include clr-no-styles-button();
                cursor: pointer;
                float: right;
                vertical-align: middle;
                //width: $clr-datagrid-icon-size;
                //height: $clr-datagrid-icon-size;
                margin: auto 0;
                background-repeat: no-repeat;
                background-size: contain;
                color: $clr-color-neutral-500;
                width: 24px;

                &:focus {
                    outline: none;
                }

                > clr-icon {
                    margin-top: -2px;
                }

                &:hover {
                    color: $clr-color-action-600;
                }

                &.datagrid-filter-open {
                    color: $clr-color-action-600;
                }

                &.datagrid-filtered {
                    color: $clr-color-action-600;
                }
            }

            .datagrid-filter {
                position: absolute;
                top: 100%;
                left: 0;
                margin-top: 0.2rem;
                background: $clr-datagrid-popover-bg-color;
                padding: 0.75rem;
                border: $clr-default-borderwidth solid $clr-datagrid-popover-border-color;
                box-shadow: 0 1px 3px rgba($clr-dark-gray, 0.25);
                border-radius: $clr-default-borderradius;
                font-weight: normal;
                z-index: map-get($clr-layers, dropdown-menu);

                .datagrid-filter-close-wrapper {
                    text-align: right;

                    .close {
                        float: none;
                    }
                }
            }
        }
    }

    th > div.sorting {
        cursor: pointer;
        transition: border-bottom-color 0.3s ease;
        &:hover {
            color: $clr-h6-color;
        }

        &::after {
            margin: 0 0 0 4px;
            content: '';
            height: 8px;
            width: 8px;
            vertical-align: middle;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: contain;
        }

        &.asc, &.desc {
            color: $app-header-sort-color;
            border-color: $app-header-sort-color;
            + app-filter {
                color: $app-header-sort-color;
                border-color: $app-header-sort-color;
            }

            &::after {
                background-image: generateCaretIcon($app-header-sort-color);
            }
        }

        &.desc::after {
            transform: rotate(180deg);
        }
    }
}

.datagrid-spinner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba($app-table-bgcolor, 0.6);
    z-index: 99;

    .spinner {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}

.search-input {
    position: relative;
    input {
        padding-right: 22px;
    }

    &::after {
        background-image: generateSearchIcon($clr-dark-midtone-gray);
        height: 16px;
        width: 16px;
        top: 4px;
        right: 3px;
        @include icon-background-styles();
        margin: 0;
        position: absolute;
        content: '';
    }
}
