table {
    border-collapse: collapse;
    border-spacing: 0;
}

.datagrid {
    font-size: 0.9em;
    width: 100%;
    background: $clr-white;
    border: none;
    margin: 0;
    text-align: left;
    color: rgba($clr-black, 0.87);

    tbody tr:nth-child(2n) {
        background-color: rgba(0, 0, 50, 0.02);
    }

    td {
        border: none;
        padding: 0;

        > div {
            box-sizing: border-box;
            overflow: hidden;
            max-height: 100px;
            padding: 4px 8px;
        }
    }

    th {
        padding: 0;
        border: none;
        color: $clr-dark-gray;
        font-size: 0.9em;
        position: relative;
        white-space: nowrap;
        background: $clr-thead-bgcolor;

        > div {
            box-sizing: border-box;
            border-bottom: 2px solid $clr-table-bordercolor;
            padding: 4px 4px 4px 8px;
        }

        &:not(:last-child)::before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 2px;
            width: 1px;
            margin: 6px 0;
            background-color: $clr-table-bordercolor;
            content: "";
        }
    }

    tr.last_finish > td {
        background-color: #FFE5BC;
    }

    tr.favorite > td {
        background-color: #D8E1FF;
    }

    tr.new > td {
        background-color: #66afe9;
    }

    tr.disabled {
        opacity: 0.7;
    }

    th.filterable {
        display: flex;
        > div {
            flex: 1 0 auto;
        }

        > app-filter {
            display: flex;
            padding-right: 6px;
            border-bottom: 2px solid $clr-table-bordercolor;

            .filter-toggle {
                width: 16px;
                height: 16px;
                background-size: contain;
                cursor: pointer;
                vertical-align: middle;
                margin: auto 0;
                background: generateFilterIcon($clr-dark-midtone-gray) no-repeat;

                &:hover, &.filter-open {
                    background-image: generateFilterIcon($action-blues-dark-midtone);
                }

                &.filtered {
                    background-image: generateFilterIcon($action-blues-dark-midtone),
                    generateCircleIcon($action-blues-dark-midtone);
                }
            }

            .datagrid-filter {
                position: absolute;
                top: 100%;
                left: 0;
                margin-top: $clr_baselineRem_0_2;
                background: $clr-white;
                padding: $clr_baselineRem_0_75;
                border: 1px solid $clr-table-bordercolor;
                box-shadow: 0 1px 3px rgba($gray-dark, 0.25);
                border-radius: $clr-default-borderradius;
                font-weight: normal;
                z-index: map-get($clr-layers, dropdown-menu);

                .datagrid-filter-close-wrapper {
                    text-align: right;

                    .close {
                        float: none;
                    }
                }
            }
        }
    }

    th > div.sorting {
        cursor: pointer;
        &:hover {
            color: $clr-near-black;
        }

        &::after {
            margin: 0 0 0 4px;
            content: '';
            height: 8px;
            width: 8px;
            vertical-align: middle;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: contain;
        }

        &.asc, &.desc {
            color: $app-header-sort-color;
            border-color: $app-header-sort-color;
            + app-filter {
                color: $app-header-sort-color;
                border-color: $app-header-sort-color;
            }

            &::after {
                background-image: generateCaretIcon($app-header-sort-color);
            }
        }

        &.desc::after {
            transform: rotate(180deg);
        }
    }
}

.datagrid-spinner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba($clr-white, 0.6);
    z-index: 99;

    .spinner {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}
