<!--div *ngIf="isActive()" class="ui label" style="padding: 0.2em 0.4em;position: absolute;top: 0.5em;right: 1.9em;">
    {{ input }}
<i (click)="reset()" class="icon delete"></i>
</div-->
<div class="dropdown">
<div class="search-input">
    <input placeholder="Search..." type="text" class="clr-input"
           [(ngModel)]="input"
           (keyup)="filterChanged()"
           (focus)="onFocus()"
           (keyup.enter)="toggle()"
           (keyup.escape)="reset()">
</div>

<div *ngIf="open" class="dropdown-menu">
    <ng-content></ng-content>
</div>
</div>
<span *ngFor="let _filter of filter.filters" class="label label-blue clickable" (click)="filter.toggle(_filter)">
    {{ _filter.term }}
    <span style="margin: 0 -0.375rem 0 0.25rem;"><clr-icon [size]="14" shape="times"></clr-icon></span>
</span>
