<div *ngIf="alert !== null" [@translate] [ngClass]="'alert alert-app-level alert-' + alert.severity" >
    <div class="alert-items">
        <div class="alert-item">
            <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" [shape]="iconInfoFromType(alert.severity)"></clr-icon>
            </div>

            <div class="alert-text">
                {{ alert.message }}
            </div>

            <div class="alert-actions">
                <button class="btn alert-action" (click)="emitAction(alert!)">{{ alert.action }}</button>
            </div>
        </div>
    </div>

    <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
        <clr-icon aria-hidden="true" shape="times"></clr-icon>
    </button>
</div>
