<button (click)="toggle()" [class.active]="open" class="btn btn-sm btn-link column-toggle--action" type="button">
    <clr-icon shape="cog" [size]="20" class="is-solid"></clr-icon>
</button>

<div class="column-switch" *ngIf="open">
    <div class="switch-header">
        Settings
        <button (click)="toggle()" class="btn btn-sm btn-link" type="button">
            <clr-icon [size]="24" shape="times"></clr-icon>
        </button>
    </div>
    <div class="clr-toggle-wrapper">
        <input type="checkbox" id="toggle-ticker" name="toggle-basic" class="clr-toggle" [ngModel]="tickerEnabled$ | ngrxPush" (ngModelChange)="toggleTicker($event)">
        <label for="toggle-ticker">Ticker</label>
    </div>
    <div class="clr-toggle-wrapper">
        <input type="checkbox" id="toggle-percent" name="toggle-basic" class="clr-toggle" [ngModel]="usePercent$ | ngrxPush" (ngModelChange)="toggleUsePercent($event)">
        <label for="toggle-percent">Percent</label>
    </div>
    <div class="clr-select-wrapper">
        <label class="form-label" for="name-format">Name format</label>
        <select style="float: right" id="name-format" name="toggle-basic" class="clr-select" [ngModel]="nameFormat$ | ngrxPush" (ngModelChange)="setNameFormat($event)">
            <option value="f l">Ebba Andersson</option>
            <option value="L f">ANDERSSON Ebba</option>
            <option value="i. l">E. Andersson</option>
        </select>
    </div>
    <div class="switch-header">
        Columns
    </div>
    <ul class="switch-content list-unstyled" cdkDropList (cdkDropListDropped)="onDrop($event)">
        <li class="clr-checkbox-wrapper" *ngFor="let col of columns$ | ngrxPush; trackBy: trackBy" cdkDrag>
            <input type="checkbox" [checked]="col.toggled" [id]="col.id" (change)="toggleColumn(col.id)">
            <label [for]="col.id">{{ col.name }}</label>
            <clr-icon class="column-drag-handle" cdkDragHandle shape="drag-handle"></clr-icon>
        </li>
    </ul>
<!--    <div class="switch-footer">-->
<!--        <div>-->
<!--            <button class="btn btn-sm btn-link p6 text-uppercase" type="button">Select All</button>-->
<!--        </div>-->
<!--        <div class="action-right">-->
<!--            <button (click)="toggle()"-->
<!--                    class="btn btn-primary"-->
<!--                    type="button">-->
<!--                Ok-->
<!--            </button>-->
<!--        </div>-->
<!--    </div>-->
</div>
