<table class="datagrid {{ config.breakpoint }}" cdk-table [dataSource]="rows$ | ngrxPush" [trackBy]="track">

    <!-- Order Definition -->
    <ng-container cdkColumnDef="order">
        <th cdk-header-cell *cdkHeaderCellDef>#</th>
        <td cdk-cell *cdkCellDef="let row; let i = index;"><div>{{ i + 1 }}</div></td>
    </ng-container>

    <!-- Rank Definition -->
    <ng-container cdkColumnDef="rank">
        <th cdk-header-cell *cdkHeaderCellDef appDgSort="rank">{{ config.isStartList ? 'Order' : 'Rank' }}</th>
        <td cdk-cell *cdkCellDef="let row"><div>{{ row.rank || '&nbsp;' }}</div></td>
    </ng-container>

    <!-- Bib Definition -->
    <ng-container cdkColumnDef="bib">
        <th cdk-header-cell *cdkHeaderCellDef appDgSort="racer.bib">Bib</th>
        <td class="bib" cdk-cell *cdkCellDef="let row"><div><span class="badge">{{ row.racer.bib }}</span></div></td>
    </ng-container>

    <!-- Name Definition -->
    <ng-container cdkColumnDef="name" sticky>
        <th cdk-header-cell *cdkHeaderCellDef appDgSort="racer.value">Name</th>
        <td cdk-cell *cdkCellDef="let row">
            <div class="small_only flag">
                <a style="color: inherit" target="_blank" href="https://www.fis-ski.com/DB/general/athlete-biography.html?sectorcode={{ row.racer.sector }}&fiscode={{ row.racer.id }}">
                    {{ row.racer.display }}
                </a>
                <span style="float: right" >{{ row.notes }}</span>
                <clr-icon *ngIf="row.racer.hasYellowCard" class="yellow-card" shape="yc"></clr-icon>
            </div>
        </td>
    </ng-container>

    <!-- Time Definition -->
    <ng-container cdkColumnDef="time">
        <th cdk-header-cell *cdkHeaderCellDef appDgSort="time.value">{{ config.isStartList ? 'Status' : 'Time' }}</th>
        <td [class.time]="!config.isStartList" [class.leader]="row.time.leader" cdk-cell *cdkCellDef="let row"><div>{{ row.time.display }}</div></td>
    </ng-container>

    <!-- Nsa Definition -->
    <ng-container cdkColumnDef="nsa">
        <th cdk-header-cell *cdkHeaderCellDef appDgSort="racer.nsa">NSA</th>
        <td cdk-cell *cdkCellDef="let row"><div class="flag">{{ row.racer.nsa }}</div></td>
    </ng-container>

    <!-- Diff Definition -->
    <ng-container cdkColumnDef="diff">
        <th cdk-header-cell *cdkHeaderCellDef appDgSort="diff.value">Diff.</th>
        <td class="time" [class.leader]="row.diff.leader" cdk-cell *cdkCellDef="let row"><div>{{ row.diff.display || '&nbsp;' }}</div></td>
    </ng-container>

    <!-- Tour standing Definition -->
    <ng-container cdkColumnDef="tour">
        <th cdk-header-cell *cdkHeaderCellDef appDgSort="tourStanding.value">Tour Std.</th>
        <td cdk-cell class="time" *cdkCellDef="let row" [class.leader]="row.tourStanding.leader"><div>{{ row.tourStanding.display || '&nbsp;' }}</div></td>
    </ng-container>

    <!-- Dynamic definitions -->
    <ng-container [cdkColumnDef]="col.id" *ngFor="let col of config.dynamicColumns; trackBy: trackColumn">
        <th cdk-header-cell *cdkHeaderCellDef [appDgSort]="col.sortBy">{{ col.name }}</th>
        <td class="time {{ row.marks[col.key]?.state }}" [class.leader]="row.marks[col.key]?.leader" cdk-cell *cdkCellDef="let row"><div>{{ row.marks[col.key]?.display }}</div> </td>
    </ng-container>

    <ng-container *ngrxLet="store.displayedColumns$; let columns">
        <thead>
            <tr cdk-header-row *cdkHeaderRowDef="columns; sticky: true"></tr>
        </thead>

        <tbody>
            <tr [@update]="row.version" [@newRow]="{value: row.state, params: {color: row.racer.isFavorite ? '#9BD8F3' : '#F7D57F'}}" [ngClass]="row.classes" cdk-row *cdkRowDef="let row; columns: columns"></tr>
        </tbody>
    </ng-container>

</table>
