<app-sidebar [(isOpen)]="sidebarOpen" (navigate)="go($event)"></app-sidebar>

<app-header [raceInfo]="raceInfo$ | ngrxPush" (openSidebar)="showSidebar()" (refresh)="onRefresh()" (tab)="configureTabs($event)"></app-header>

<div class="container">
    <div class="datagrid-spinner" *ngIf="loading$ | ngrxPush">
        <div class="spinner">Loading...</div>
    </div>
    <div *ngFor="let columns of rows; let row = index" class="row">
        <app-dg-wrapper *ngFor="let i of columns" class="column" [breakpoint]="breakpoints[row]"></app-dg-wrapper>
    </div>
</div>

<div (click)="sidebarOpen = false" class="backdrop" [class.open]="sidebarOpen"></div>
