<app-sidebar [(isOpen)]="sidebarOpen" (navigate)="go($event)"></app-sidebar>

<app-header [(mode)]="mode" [raceInfo]="(raceInfo$ | ngrxPush)!" (openSidebar)="showSidebar()" (refresh)="onRefresh()" (tab)="configureTabs($event)"></app-header>

@if (isSprintGrid$ | ngrxPush) {
    <div class="container-sprint-grid">
        @if (loading$ | ngrxPush) {
            <div class="datagrid-spinner">
                <div class="spinner">Loading...</div>
            </div>
        }

        @for (run of runs$ | ngrxPush; track run; let i = $index) {
            <div class="row">
                @for (heat of run.heats; track heat; let j = $index) {
                    <app-sprint-grid class="column" [runAndHeat]="[i, j]"></app-sprint-grid>
                }
            </div>
        }
    </div>
} @else {
    <div class="container">
        <div style="display: flex; flex: 1 0 0; flex-direction: column; overflow: auto">
            @if (loading$ | ngrxPush) {
                <div class="datagrid-spinner">
                    <div class="spinner">Loading...</div>
                </div>
            }

            @for (columns of rows; track columns; let row = $index) {
                <div class="row">
                    @for (i of columns; track i) {
                        <app-dg-wrapper class="column" [breakpoint]="breakpoints[row]"></app-dg-wrapper>
                    }
                </div>
            }
        </div>

        @if (indDetailsTab$ | ngrxPush) {
            <div class="details-container">
                <app-details></app-details>
            </div>
        }
    </div>
}

<div (click)="sidebarOpen.set(false)" class="backdrop" [class.open]="sidebarOpen()"></div>
